@font-face {
    font-family: 'HK Super Round Bold';
    font-style: normal;
    font-weight: normal;
    src: local('HK Super Round Bold'), url('HKSuperRound-Bold.woff') format('woff');
}

html {
    font-size: min(2vw, 10px);
    color: #1a1a1b;
    font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
}

body {
    background-color: white;
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
}

.wrapper {
    width: 50rem;
    min-height: 100vh;
    margin: auto;
    display: flex;
    flex-flow: column nowrap;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    border-bottom: 1px solid #d3d6da;
}

.title {
    font-family: 'HK Super Round Bold';
    font-weight: 700;
    font-size: 3.6rem;
    padding-top: 0.4rem;
    letter-spacing: 0.4rem;
    text-transform: uppercase;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    pointer-events: none;
}

#board {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    flex: 1;
}

.guess {
    text-align: center;
    white-space: nowrap;
}

.letter {
    font-family: 'HK Super Round Bold';
    display: inline-block;
    position: relative;
    font-size: 4rem;
    line-height: 7rem;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    border: 1px solid #cacaca;
    margin: 1rem .2rem;

    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    font-weight: bold;
}

.letter.absent {
    background-color: #787c7e;
    color: white;
    border: none;
}

.letter.present {
    background-color: #c9b458;
    color: white;
    border: none;
}

.letter.head {
    background-color: #6aaa64;
    color: white;
    border: none;
}

.letter.tail {
    background-color: #6aaa64;
    color: white;
    border: none;
}

.letter.start {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.letter.end {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.letter.tail::before {
    content: "";
    display: block;
    position: absolute;
    background-color: #6aaa64;
    z-index: -10;
    top: 0;
    bottom: 0;
    left: -.2rem;
    right: -.2rem;
    transform: translate(-50%, 0);
}

#keyboard {
    display: flex;
    flex-flow: column nowrap;
    user-select: none;
    touch-action: manipulation;
}

#keyboard>div {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin: 0.4rem 0;
}

#keyboard button {
    font-family: 'HK Super Round Bold';
    font-weight: bold;
    font-size: 1.5rem;
    height: 5.8rem;
    line-height: 6rem;
    flex: 1;
    outline: none;
    border: none;
    cursor: pointer;
    user-select: none;
    background-color: #d3d6da;
    border-radius: 0.4rem;
    margin: 0 0.3rem;
}


#keyboard button#keyboard_backspace {
    display: flex;
    justify-content: center;
    align-items: center;
}

#keyboard button.absent {
    background-color: #787c7e;
    color: white;
}

#keyboard button.present {
    background-color: #c9b458;
    color: white;
}

#keyboard button.correct {
    background-color: #6aaa64;
    color: white;
}

#keyboard .spacer {
    flex: 0.5;
}